* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: repeating-radial-gradient(#f2873e, #f5f06c, #ec557f); 
    cursor: url('files/cantabcursor.png'),auto;
} 

@font-face {
    font-family: Proxima;
    src: url(fonts/proximanova.otf);
    src: url(fonts/proxmianova.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: ProximaBold;
    src: url(fonts/proximasemibold.otf);
    src: url(fonts/proximasemibold.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: ProximaExtraBold;
    src: url(fonts/proximabold.otf);
    src: url(fonts/proximabold.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: Narnia;
    src: url(fonts/Narnia.ttf);
    src: url(fonts/Narnia.ttf) format ('truetype');
    font-weight:100px;
    font-style:normal;
}

.main-container {
    display:flex;
    flex-direction:column;
    height:100vh;
}

.menu {
    display:flex;
    justify-content:space-evenly;
}

.page {
    color:white;
    font-family: Proxima;
    font-size:15px;
    margin-top:15px;
}

.page:hover {
    color:rgb(2, 40, 2);
    font-size:20px;
    transition:1s;
    cursor: url('files/lime.png'),auto;
}

.title {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top:30px;
}

.name {
    margin-top:15px;
    cursor: url('files/lime.png'), auto;
}

.slogan {
    font-size:200px;
    text-align:center;
    font-family: Narnia;
    color:white;
    animation: pulse 3s infinite linear;
} 

@keyframes pulse {
    0% {
        opacity:1;
    }

    50% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

.can-container {
    display:flex;
    justify-content:space-evenly;
}

canvas {
    width:100%; 
    height:100%;
}

.toptext {
    font-family: ProximaBold;
    font-size:50px;
    text-align:center;
    color:white;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;
}

.bodytext {
    font-family: Proxima ;
    color:white;
    font-size:20px;
    margin-left:250px;
    margin-right:250px;
    text-align:center;
}

#threejs-canvas {
    position:absolute;
    top:0;
    left:0;
}

