* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-image: repeating-radial-gradient(#ffffff, #2ba9cb);
    cursor: url('files/cantabcursor.png'),auto;
} 

.page-main-container {
    background-color:#1f9cbe;
    height:130vh;
}

@font-face {
    font-family: Proxima;
    src: url(fonts/proximanova.otf);
    src: url(fonts/proxmianova.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: ProximaBold;
    src: url(fonts/proximasemibold.otf);
    src: url(fonts/proximasemibold.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: ProximaExtraBold;
    src: url(fonts/proximabold.otf);
    src: url(fonts/proximabold.otf) format ('onlytype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: Narnia;
    src: url(fonts/Narnia.ttf);
    src: url(fonts/Narnia.ttf) format ('truetype');
    font-weight:100px;
    font-style:normal;
}

.main-container {
    display:flex;
    flex-direction:column;
    /* height:100vh; */
}

.menu {
    display:flex;
    justify-content:space-evenly;
}

.page {
    color:white;
    font-family: Narnia;
    font-size:20px;
    margin-top:15px;
}

.page:hover {
    color:rgb(2, 40, 2);
    font-size:25px;
    transition:1s;
    cursor: url('files/lime.png'),auto;
}

.main-body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}

.name {
    margin-top:15px;
    cursor: url('files/lime.png'), auto;
}

.slogan {
    font-size:100px;
    text-align:center;
    font-family: Narnia;
    color:white;
    /* animation: slide 7s infinite linear; */
    /* transition:1s; */
    /* background-color:blue; */
} 

@keyframes pulse {
    0% {
        opacity:1;
    }

    50% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}


@keyframes slide {
    0% {
        transform:translateX(-160%);
    }

    100% {
        transform:translateX(160%);
    }
}

.toptext {
    font-family: ProximaBold;
    font-size:50px;
    text-align:center;
    color:#fff09a;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:10px;
}

.middletext {
    font-family: ProximaBold;
    font-size:30px;
    text-align:center;
    color:#fff09a;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:50px;
}

.bodytext {
    font-family: Proxima ;
    color:white;
    font-size:20px;
    margin-left:100px;
    margin-right:100px;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
}

.canvas-wrapper {
    position: relative; /* Ensure the canvas is positioned relative to this container */
    width: 100%;
    height: 100%;
}

#threejs-canvas {
    position: absolute;
    top: 0%; /* Adjust the percentage value to move the canvas higher */
    left: 0%;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
}

.image {
    display:flex;
    justify-content: center;
}

.flavors-main-container {
    height:100vh;
    display:flex;
    flex-direction:column;
}

.bodyody {
    display:flex;
    flex-direction:column;
}

.flavor {
    display:flex;
    flex-direction:row;
    background-color:#1f9cbe71;
    padding:10px;
    margin:10px;
    gap:30px;
}

.leftfla {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.rightfla {
    display:flex;
    flex-direction:column;
    gap:10px;
}

.namefla {
    font-family: Narnia;
    font-size:120px;
    color:#fff09a;
    text-align:center;
    margin-top:30px;
}

.bodyfla {
    font-family: Proxima;
    color:white;
    text-align:center;
    margin-top:20px;
    font-size:20px;
}

.cartbut {
    background-color:white;
    text-align:center;
    padding:10px;
    font-family: Proxima;
    margin-top:50px;
}

.midfla {
    width:60vw
}

.cartbut:hover {
    background-color:#fff09a;
    animation: pulse 2s infinite linear;
}

.cart-main-container {
    height:100vh;
}

.contact-main-container {
    height:100vh;
}